.main-container{
    /* display: flex; */
    
}
.first-container{
    display:flex;
    gap: 20cm;
}
.hello{
    display: flex;
}
.phone{
    display: flex;
}
.call{
    margin-right: 3cm;
}

.items{
    display: flex;
    gap :2cm;
    margin-top: 3cm;
    margin-left: -50cm;
}#home{
    color:orange;
}
.about{
    font-size: xx-large;
}
.home-page{
    width: 60%;
    height: 30%;
}


#riaad{
    width: 80%;
    height: 50%;
}
.learn{
    display: flex;
    margin-top: 2cm;
}
.company{
    display: flex;
    gap: 5cm;
}
.leaving{
    margin-top: 2cm;
    gap: 15cm;
}
.leading{
    margin-right: 5cm;
}
#we{
    color: orange;
}
.year{
    display: flex;
    margin-left: 3cm;
    margin-top: 2cm;
}
.what-we-do{
    margin-top: 3cm;
}
.storage{
    background-color: blue;
    color: white;
    text-size-adjust: 5px;
}
.verified{
    width: 20%;
    height:15%
}
#business{
    width: 20%;
    height: 15%;
}



.testimonials{
    gap:2cm;
    margin-top: 3cm;
}
.our{
    text-align: center;
}
.moling{
    display: flex;
}
#quotes{
    margin-left: 3cm;
}
.christine{
    margin-left: 2cm;
    
}
.signup{
    text-align: center;
}
.address{
    display: flex;
    gap: 30cm;
}
.subscribe{
    background-color: black;
    color: white;
}
.blog{
    text-align: center;
    margin-top: 3cm;
}
.pictures{
    display: flex;
}
.home{
    background-image:url(homeimage.jpg) ;
    height: 20%;
    width: 10;

}
#article{
    height: 20%;
    width: 10;
}
.choice{
    background-image: url(imagechoice.jpeg);
    height: 90% ;
    width: 75%;
}
#making{
    height: 70%;
    width: 30%;
}
.boomer{
    background-image: url(boomersimage.web);
    height: 90%;
    width: 75%;
}
#nesters{
    height: 50%;
    width: 30%;
}
#customer{
    height: 45%;
    width: 55%;
}
.helping{
    display: flex;
    background-color: orange;
    gap: 20cm;
}
.discover{
    border: 1px black;
 
}
.last{
    display: flex;
    gap: 4cm;
    background-color: black;
    color: white;
}
.services{
    text-align: center;
}
.services-container{
    display: flex;
    gap: 8cm;
}
.step{
    display: flex;
    margin-top: 3cm;
    gap: 4cm;
}
.ipsum{
    display: flex;
    margin-top: 3cm;
    gap: 5cm;
}
.company{
    display: flex;
    margin-top: 3cm;
}
.icons{
    gap: 2cm;
    margin-bottom: 1cm;
    background-color: black;
    color: white;
}
.copyright{
    text-align: center;
}
#read{
    color: orange;
}
.footer{
    background-color: black;
    text-align: center;
    color: white;
}
.form{
    display: flex;
    /* background-color: blue; */
    /* gap: 2cm; */

}
.bookusnow{
    display: flex;
}.request{
    background-color: orange;
    width: 10cm;
    height: 7cm;
    font-size: large;
}
.button{
    background-color: orange;
    color: white;
}
